[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ollama = "*"
langchain = "*"
qdrant-client = "*"
langchain-community = "*"
pymilvus = {version = "*", extras = ["model"]}
langchain-cli = "*"
langchainhub = "*"
langchain-milvus = "*"
langchain-core = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.9"
